node_modules/
dist/
*.log*
*launch.json*
.idea/
.env
.DS_Store
Thumbs.db
ngrok.yml
*launch.json*
*host.json*
*local.settings.json*
*.vscode/settings.json*
.vscode/
.vscode
*.vscode/*
.vscode/*
storybook-static
schema.gql
schema.types.ts
packages/backend/server/static
packages/backend/server/collabria
packages/backend/server/email-teammate
